[Unit]
Description=Configure Raspberry Pi as a USB gadget
After=v4l2loopback-load.service

[Service]
Type=oneshot
StandardOutput=kmsg
StandardError=kmsg
SyslogIdentifier=usb-gadget-config
WorkingDirectory=/tmp
ExecStart=/opt/uvc-webcam/multi-gadget.sh

[Install]
WantedBy=basic.target
